{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<center>
	<div class="container-fluid bg-2 text-center">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-8">
				<form method='POST'>
					{% csrf_token %}
					<input id="id_user" class="form-control" type="text" class="validate" name="username" placeholder= "Usuario">
					<input id="id_pass" class="form-control" type="password" name="password" placeholder= "Contrasena">
					<br>
					<input type="submit"   name="Register" class="btn btn-primary" value="Login">
				</form>
			</div>
		</div>
	</div>
</center>
{% endblock %}